@use "../../../sass/utils/placeholders.scss";

.dropdown {
  position: relative;
}
.dropdownValue {
  background-color: var(--bg-button-color);
  border-radius: 8px;
  position: relative;
  width: 198px;
  padding: 14px;
}
.dropdownValueText {
  color: var(--title-color);
  font-size: var(--text-md-fs);
  font-weight: 400;
  letter-spacing: -0.28px;
  opacity: 0.5;
}
.dropdownBtn {
  @extend %flexCenter;
  position: absolute;
  top: 9px;
  right: 9px;
  padding: 5px;
}
.dropdownIcon {
  transition-duration: 250ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
  &Rotated {
    transform: rotate(180deg);
  }
}
.dropdownList {
  position: absolute;
  top: 49px;
  right: 0;
  left: 0;
  border-radius: 8px;
}
.dropdownItem {
  padding: 8px 14px;
  cursor: pointer;
  &:first-child {
    padding-top: 14px;
  }
  &:last-child {
    padding-bottom: 14px;
  }
}
.dropdownText {
  opacity: 0.5;
  color: var(--title-color);
  font-size: var(--text-md-fs);
  font-weight: 400;
  letter-spacing: -0.28px;
}
