.authPage {
  background-image: url("../../../public/authImgs/authBgMobile.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-top: 87px;
  padding-bottom: 30px;

  @media screen and (max-height: 1000px) {
    overflow: scroll;
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../../public/authImgs/authBgTablet.svg");
  }

  @media screen and (min-width: 1440px) {
    background-image: url("../../../public/authImgs/authBgDesctop.svg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
  }
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }
}

.authPhoto {
  width: 285px;
  height: 250px;

  @media screen and (min-width: 768px) {
    width: 409px;
    height: 359px;
  }

  @media screen and (min-width: 1440px) {
    width: 532px;
    height: 468px;
  }
}

.authBox {
}

.authBlock {
  padding: 32px 28px 40px 28px;
  border-radius: 30px;
  background: var(--bg-login-color);
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.1);
  width: 335px;

  @media screen and (min-width: 768px) {
    padding: 44px 50px;
    width: 500px;
  }
}

.authTitle {
  color: var(--bg-color);
  font-size: var(--subtitle-md-fs);
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.48px;

  @media screen and (min-width: 768px) {
    font-size: var(--subtitle-lg-fs);
    line-height: 30px;
    letter-spacing: -0.56px;
  }
}

.authForm {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    gap: 24px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 50px;
  }
}

.authInput {
  padding: 12px 14px 12px 40px;
  height: 45px;
  background-color: transparent;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  border-radius: 10px;
  width: 279px;

  @media screen and (min-width: 768px) {
    padding: 16px 18px 16px 50px;
    height: 59px;
    font-size: var(--text-xl-fs);
    letter-spacing: -0.36px;
    width: 400px;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-login-color) inset;
    -webkit-text-fill-color: var(--bg-color);
  }

  &::placeholder {
    color: var(--bg-color);
    font-size: var(--text-md-fs);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    opacity: 0.8;

    @media screen and (min-width: 768px) {
      font-size: var(--text-xl-fs);
      letter-spacing: -0.36px;
    }
  }
}

.authErrorInput {
  border: 1px solid var(--err-color);
}

.authErrorAfter {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/error.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 18px;
  }
}

.authNameBefore {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/user.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    top: 14px;
    left: 14px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
      top: 18px;
      left: 18px;
    }
  }
}

.authEmailBefore {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/email.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    top: 14px;
    left: 14px;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
      top: 18px;
      left: 18px;
    }
  }
}

.authPasswordBefore {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../../public/icons/lock.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    top: 14px;
    left: 14px;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
      top: 18px;
      left: 18px;
    }
  }
}

.loginBtn {
  width: 279px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  padding: 14px 0;
  border-radius: 6px;
  color: var(--bg-color);
  text-align: center;
  font-size: var(--text-lg-fs);
  font-weight: 400;
  line-height: 18px;
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    width: 400px;
    padding: 21px 0;
    margin-top: 26px;
  }
}

.authLink {
  display: block;
  margin-top: 18px;
  color: var(--bg-color);
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  @media screen and (min-width: 768px) {
    font-size: var(--text-lg-fs);
  }
}
