@use "../../sass/utils/placeholders.scss";
@use "../../sass/utils/mixins.scss" as *;

.recs {
  padding-top: 64px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-top: 72px;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 118px;
    padding-top: 100px;
  }
}

.recsItem {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 100px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.recsSubtitle {
  @extend %pageTitle;
}

.recsSublist {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 32px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 14px;
  }
}

.recsSublist > li {
  display: none;
  &:first-child {
    display: list-item;
  }
  @media screen and (min-width: 768px) {
    &:nth-child(2) {
      display: list-item;
    }
  }
  @media screen and (min-width: 1440px) {
    &:nth-child(3),
    &:last-child {
      display: list-item;
    }
  }
}

.recsBtn {
  display: block;
  margin-left: auto;
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 10px 24px;
  color: #fafafa;
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: 1.28;
  @extend %transitionColor;

  &:hover {
    color: var(--bg-login-color);
  }
}
.recsBrowseBtn {
  @include roundedBtn(32px, 14px, transparent, var(--text-md-fs));
  color: var(--bg-secondary-color);
  border: 2.2px solid var(--accent-color);
  font-family: var(--font-poppins-sans);
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, var(--accent-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-position: left bottom;
    color: #fff;
  }

  :root[data-theme="dark"] & {
    color: #fafafa;
  }
  @media screen and (min-width: 768px) {
    @include roundedBtn(52px, 20px, transparent, var(--text-lg-fs));
    color: var(--bg-secondary-color);
    margin-top: 32px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 14px;
  }
}
