@use "../../sass/utils/mixins.scss" as *;

.section {
  margin-top: 164px;
  margin-bottom: 195px;
}

.title {
  color: var(--title-color);
  font-feature-settings: "liga" off;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.88px;

  @media screen and (max-width: 1439px) {
    font-feature-settings: "liga" off;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.64px;
  }
  @media screen and (max-width: 767px) {
    font-feature-settings: "liga" off;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.56px;
  }
}

.greeBoxList {
  margin-top: 72px;
  width: 1240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--accent-color);

  @media screen and (max-width: 1439px) {
    width: 704px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    width: 343px;
    height: 42px;
  }
}

.greeTxt {
  display: flex;
  width: 115px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  color: var(--text-but);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;

  @media screen and (max-width: 1439px) {
    display: flex;
    width: 115px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    color: var(--text-but);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.54px;
  }
  @media screen and (max-width: 767px) {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    width: 76px;
    height: 18px;
  }
}

.secondTxtGree {
  display: flex;
  margin-left: 721px;
  gap: 109px;
  @media screen and (max-width: 1439px) {
    display: flex;
    margin-left: 300px;
    gap: 38px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    margin-left: 80px;
    gap: 18px;
  }
}
.listItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.item {
  justify-content: space-between;
  margin-top: 51px;
  width: 1160px;
  height: 150px;
  display: flex;

  padding: 12px 0;
  padding-right: 28px;
  border-bottom: 1px solid #f0f0f0;
  @media screen and (max-width: 1439px) {
    justify-content: space-between;
    margin-top: 50px;
    width: 704px;
    height: 178px;
    display: flex;

    padding: 12px 0;
    padding-right: 28px;
    border-bottom: 1px solid #f0f0f0;
  }
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    margin-top: 50px;
    width: 343px;
    height: 86px;
    display: flex;

    padding: 12px 0;
    padding-right: 28px;
    border-bottom: 1px solid #f0f0f0;
  }
}

.info {
  display: flex;
  justify-content: center;
  //   align-items: center;
  gap: 12px;
}

.imageWrapper {
  background-color: #f1f9e9;
  border-radius: 8px;
  padding: 6px;
  display: flex;
  height: 97px;
  @media screen and (max-width: 1439px) {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  @media screen and (max-width: 767px) {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    height: 60px;
  }
}
.frest {
  width: 20px;
  height: 20px;
  @media screen and (max-width: 1439px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 767px) {
    width: 14px;
    height: 14px;
  }
}
.nameItem {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  @media screen and (max-width: 1439px) {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  @media screen and (max-width: 767px) {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
  }
}

.right {
  display: flex;
  align-items: flex-start;
  gap: 174px;
  @media screen and (max-width: 1439px) {
    gap: 110px;
  }
  @media screen and (max-width: 767px) {
    gap: 46px;
  }
}

.quantity {
  display: flex;
  flex-direction: column;
  background-color: var(--social-icon-color);
  color: #fff;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  min-width: 68px;

  @media screen and (max-width: 1439px) {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 68px;
    height: 35px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 37px;
    height: 23px;
  }
}

.deleteBtn {
  // margin-left: 174px;
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #e53935;
  }
}

.imageItem {
  width: 81px;
  height: 81px;
  @media screen and (max-width: 1439px) {
    width: 81px;
    height: 81px;
  }
  @media screen and (max-width: 767px) {
    width: 48px;
    height: 48px;
  }
}

.itempalka {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1160px;
  height: 1px;
  stroke-width: 1px;
  stroke: var(--Gray-5, #e0e0e0);
}

.noItemsText {
  @include textStyle(24px, --input-color, -0.48px, 500);
  opacity: 0.5;
  text-align: center;
  margin-top: 150px;
}
