.startPage {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 58.58%,
    rgba(0, 0, 0, 0.35) 78.98%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 58.58%,
      rgba(0, 0, 0, 0.35) 78.98%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../../public/start/startBgMobile@1x.jpg");

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 58.58%,
        rgba(0, 0, 0, 0.35) 78.98%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../../../public/start/startBgMobile@2x.jpg");
  }

  @media screen and (min-width: 375px) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 58.58%,
        rgba(0, 0, 0, 0.35) 78.98%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../../../public/start/startBgTablet@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.6) 58.58%,
          rgba(0, 0, 0, 0.35) 78.98%,
          rgba(0, 0, 0, 0) 100%
        ),
        url("../../../public/start/startBgTablet@2x.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 58.58%,
        rgba(0, 0, 0, 0.35) 78.98%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../../../public/start/startBgDesctop@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.6) 58.58%,
          rgba(0, 0, 0, 0.35) 78.98%,
          rgba(0, 0, 0, 0) 100%
        ),
        url("../../../public/start/startBgDesctop@2x.jpg");
    }
  }
}

.startPageLogo {
  width: 54px;
  height: 54px;

  @media screen and (min-width: 768px) {
    width: 68px;
    height: 68px;
  }
}

.startPageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startPageTitle {
  color: #FAFAFA;
  font-size: var(--subtitle-md-fs);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.48px;
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    font-size: var(--subtitle-lg-fs);
    line-height: 28px;
    letter-spacing: -0.56px;
    margin-top: 44px;
  }
}

.startPageText {
  color: #FAFAFA;
  text-align: center;
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 14px;
  max-width: 305px;

  @media screen and (min-width: 768px) {
    font-size: var(--text-xl-fs);
    line-height: 24px;
    letter-spacing: -0.36px;
    max-width: 505px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 540px;
  }
}

.startPageLinksBox {
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    gap: 18px;
  }
}

.startPageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFAFA;
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: normal;
  border-radius: 100px;
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;

  @media screen and (min-width: 768px) {
    font-size: var(--text-lg-fs);
  }
}

.startPageLinkRegistr {
  background-color: var(--accent-color);
  padding: 12px 24px;

  @media screen and (min-width: 768px) {
    padding: 22px 44px;
  }
}

.startPageLinkLogin {
  border: 1px solid #FAFAFA;
  background-color: transparent;
  padding: 12px 24px;
  height: 45px;

  @media screen and (min-width: 768px) {
    padding: 22px 44px;
    height: 67px;
  }
  // width: 53px;
  // height: 21px;
}
