@import "@/sass/utils/mixins.scss";

.ownRecipes *{
    box-sizing: border-box;
    transition: all .3s;
}
.ownRecipes{
    padding: 164px 0 100px;
    @media screen and (max-width: 1439px) {
        padding: 136px 0 200px;
    }
    @media screen and (max-width: 767px) {
        padding: 114px 0 100px;
    }
}
.title{
    color: var(--title-color);
    font-size: var(--title-fs);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.88px;
    @media screen and (max-width: 1439px) {
        font-size: 32px;
    }
    @media screen and (max-width: 767px) {
        font-size: 28px;
    }
}
.nothing{
    @include textStyle(24px, --input-color, -0.48px, 500);
    opacity: 0.5;
    text-align: center;
    margin-top: 150px;
}
.loader{
    margin: 0 auto;
}
.recipes{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    @media screen and (max-width: 1439px) {
        gap: 40px;
    }
    @media screen and (max-width: 767px) {
        gap: 18px;
        margin-top: 50px;
    }
}