@import "@/sass/utils/mixins.scss";

.folus{
    @include flexEl(40px, flex-start, stretch, column);
    @media screen and (max-width: 1439px) {
        display: none;
    }
    & svg:hover {
        color: var(--title-color);
        :root[data-theme="dark"] & {
            color: var(--accent-color);
        }
    }
}
.subtitle{
    @include textStyle(var(--subtitle-md-fs), var(--text-color), -0.24px);
    font-weight: 600;
}