@import "@/sass/utils/mixins.scss";

.subTitle {
  @include textStyle(var(--subtitle-md-fs), var(--text-color), -0.24px, 600);
}

.basicInfoCont {
  @include flexEl(50px);
  @media screen and (max-width: 1439px) {
    gap: 32px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.photoInput {
  width: 357px;
  height: 344px;
  position: relative;
  border-radius: 8px;
  @media screen and (max-width: 1439px) {
    width: 279px;
    height: 268px;
  }
}
.preview {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.fileInput {
  cursor: pointer;
  @include posAbs();
  z-index: 2;
  opacity: 0;
  border-radius: 8px;
}
.basicInputs {
  @include flexEl(40px, flex-start, stretch, column);
  @media screen and (max-width: 1439px) {
    gap: 32px;
  }
  @media screen and (max-width: 767px) {
    gap: 24px;
  }
}
.basicInput {
  @include input(393px, 43px, 0 25px 18px 0, transparent, 1px solid var(--border-input-color));
  @include textStyle(var(--text-lg-fs), var(--text-secondary-color), -0.32px);
  @include flexEl(0px, space-between);
  &::placeholder {
    color: var(--input-color);
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    width: 343px;
    height: 39px;
    font-size: var(--text-md-fs);
  }
}
.basicSelectInput {
  @include input(393px, 43px, 0 0 18px 0, transparent, 1px solid var(--border-input-color));
  @include textStyle(var(--text-lg-fs), var(--input-color), -0.32px);
  @include flexEl(0px, space-between);
  position: relative;
  & > p {
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    width: 343px;
    height: 39px;
    font-size: var(--text-md-fs);
  }
}
.selectBut {
  @include textStyle(var(--text-md-fs), var(--input-color));
  @include flexEl(0px, flex-start, center);
  height: 20px;
  margin-top: 3.5px;
  padding-right: 28px;
  background: url("../../../public/icons/arrowDown.svg") no-repeat right;
  @media screen and (max-width: 767px) {
    font-size: var(--text-sm-fs);
  }
}
.selectorScr {
  @include posAbs(31px, 0, 132px, 162px);
  @include selectWrap();
  @media screen and (max-width: 767px) {
    @include posAbs(27px, 0, 123px, 144px);
  }
}
.selectors {
  @include customScrollbar;
  overflow: hidden auto;
  height: 162px;
  padding: 4px 14px;
  @include flexEl(4px, flex-start, stretch, column);
  @media screen and (max-width: 767px) {
    height: 144px;
  }
}
.selector {
  @include textStyle(var(--text-md-fs), var(--input-color), -0.28px);
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @media screen and (max-width: 767px) {
    font-size: var(--text-sm-fs);
  }
}

.ingredients {
  margin-top: 100px;
  width: 609px;
  @media screen and (max-width: 1439px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    margin-top: 68px;
  }
}
.titleCont {
  @include flexEl(0px, space-between, center);
  height: 32px;
  @media screen and (max-width: 767px) {
    height: 28px;
  }
}
.ingredientInputCont {
  position: relative;
}
.ingredientInput {
  @include input(398px, 59px, 16px 18px, var(--bg-select-input), 0, 6px);
  @include textStyle(var(--text-xl-fs), var(--text-secondary-color), -0.36px);
  border: 1px solid var(--border-big-input-color);
  &::placeholder {
    color: var(--input-color);
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    @include input(194px, 53px, 16px, var(--bg-select-input), 0, 6px);
    font-size: var(--text-md-fs);
  }
}
.cluesWrap {
  @include posAbs(59px, 0, 398px, auto);
  max-height: 172px;
  @include selectWrap();
  @media screen and (max-width: 767px) {
    @include posAbs(53px, 0, 194px, auto);
    max-height: 154px;
  }
}
.clues {
  @include customScrollbar;
  @include flexEl(6px, flex-start, stretch, column);
  padding: 4px 14px;
  overflow: hidden auto;
  max-height: 164px;
  @media screen and (max-width: 767px) {
    max-height: 146px;
  }
}
.clue {
  @include textStyle(var(--text-md-fs), var(--input-color), -0.28px);
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @media screen and (max-width: 767px) {
    font-size: var(--text-sm-fs);
  }
}
.openClues {
  @include posAbs(20px, 18px, 20px, 20px);
  background: url("../../../public/icons/arrowDown.svg");
  @media screen and (max-width: 767px) {
    @include posAbs(16px, 16px, 20px, 20px);
  }
}
.ingredientsCount {
  @include flexEl(0px, space-between, center);
  @include textStyle(var(--text-lg-fs), var(--text-color));
  @include input(110px, 32px, 8px 15px, auto, auto, 18px);
  border: 1px solid var(--border-count-color);
  line-height: 150%;
  @media screen and (max-width: 767px) {
    width: 92px;
    height: 28px;
    padding: 7px 14px;
    font-size: var(--text-md-fs);
  }
}
.changeCountBut {
  width: 16px;
  height: 16px;
  @media screen and (max-width: 767px) {
    width: 14px;
    height: 14px;
  }
  &[data-evt="-"] {
    @include svgIcon(url("../../../public/icons/minus.svg"), var(--border-count-color));
  }
  &[data-evt="+"] {
    @include svgIcon(url("../../../public/icons/plus.svg"), var(--accent-color));
  }
}
.countCont {
  @include flexEl(0px, space-between, center);
  @include input(99px, 59px, 0, var(--bg-select-input), 0, 6px);
  border: 1px solid var(--border-big-input-color);
  margin-left: 32px;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 84px;
    height: 53px;
    margin-left: 14px;
  }
}
.countInput {
  @include input(44px, 27px, 0 0 0 11px, transparent, 0);
  @include textStyle(var(--text-xl-fs), var(--text-secondary-color), -0.36px);
  text-align: end;
  &::placeholder {
    color: var(--input-color);
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    font-size: var(--text-md-fs);
    width: 36px;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}
.selectType {
  @include textStyle(var(--text-xl-fs), var(--text-secondary-color), -0.36px);
  background: url("../../../public/icons/arrowDown.svg") no-repeat right;
  width: inherit;
  padding-right: 20px;
  @media screen and (max-width: 767px) {
    font-size: var(--text-md-fs);
  }
}
.types {
  @include posAbs(59px, 0, 99px, 128px);
  @include selectWrap();
  padding: 16px 35px;
  @media screen and (max-width: 767px) {
    @include posAbs(53px, 0, 84px, 112px);
  }
}
.type {
  @include textStyle(var(--text-md-fs), var(--input-color), -0.28px);
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @media screen and (max-width: 767px) {
    font-size: var(--text-sm-fs);
  }
}
.ingredientsList {
  @include flexEl(24px, flex-start, stretch, column);
  margin-top: 32px;
  @media screen and (max-width: 767px) {
    margin-top: 24px;
    gap: 18px;
  }
}
.ingredientItem {
  @include flexEl(0px, flex-start, center);
}
.delIngredientBut {
  @include flexEl(0px, center, center);
  margin-left: 60px;
  width: 20px;
  height: 20px;
  @include svgIcon(url("../../../public/icons/delBut.svg"), var(--count-color));
  @media screen and (max-width: 1439px) {
    margin-left: auto;
  }
  @media screen and (max-width: 767px) {
    width: 18px;
    height: 18px;
  }
}
.instructions {
  @include flexEl(32px, flex-start, stretch, column);
  margin-top: 100px;
  @media screen and (max-width: 767px) {
    margin-top: 44px;
    gap: 24px;
  }
}
.textInput {
  @include input(505px, 224px, 16px 22px, var(--bg-select-input), 0, 6px);
  @include textStyle(var(--text-xl-fs), var(--text-secondary-color), -0.36px);
  border: 1px solid var(--border-big-input-color);
  &::placeholder {
    color: var(--input-color);
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    @include input(343px, 154px, 10px 16px, var(--bg-select-input), 0, 6px);
    font-size: var(--text-md-fs);
  }
}
.addBut {
  @include roundedBtn(64px, 14px, var(--bg-secondary-color), var(--text-lg-fs));
  margin-top: 32px;
  @media screen and (max-width: 767px) {
    margin-top: 18px;
    @include roundedBtn(48px, 12px, var(--bg-secondary-color), var(--text-lg-fs));
  }
}
.inputWrap {
  position: relative;
}
.errBottom {
  @include errBg(top 3px right, false);
  @media screen and (max-width: 767px) {
    @include errBg(top 5px right, false);
  }
}
.errInp {
  @include errBg(center right 40px);
  @media screen and (max-width: 767px) {
    @include errBg(center right 35px);
  }
}
.errCount {
  @include errBg(center left 5px);
  @media screen and (max-width: 767px) {
    @include errBg(center left 2px);
  }
}
.errImg {
  border: 1px solid var(--err-color);
}
.errTextarea {
  @include errBg(top 18px right 22px);
  @media screen and (max-width: 767px) {
    @include errBg(top 10px right 16px);
  }
}
.errMsg {
  @include errClue(20px);
  @media screen and (max-width: 767px) {
    font-size: var(--text-sm-fs);
  }
}
.errInstr {
  @include errClue(44px, 24px);
  @media screen and (max-width: 767px) {
    @include errClue(35px, 16px, var(--text-sm-fs));
  }
}
.errIngr {
  @include errClue(auto, 5px);
  @media screen and (max-width: 767px) {
    font-size: var(--text-sm-fs);
  }
}
.errQty {
  @include errClue(45px, auto, var(--text-sm-fs));
  width: max-content;
  @media screen and (max-width: 767px) {
    top: 40px;
  }
}
.errImgClue {
  @include errClue(auto, 5px, var(--text-xl-fs), -25px);
  @media screen and (max-width: 767px) {
    font-size: var(--text-lg-fs);
  }
}
