.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  gap: 5px;
  padding: 0 20px;
}

@media (max-width: 480px) {
  .notFoundContainer {
    margin-top: 100px;
    padding: 0 20px;
  }
}

.notFoundImg {
  width: 498px;
  height: 331px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .notFoundImg {
    width: 259px;
    height: 170px;
    margin-bottom: 10px;
  }
}

.notFoundTitle {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 480px) {
  .notFoundTitle {
    font-size: 18px;
    line-height: 20px;
  }
}

.notFoundSubTitle {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 480px) {
  .notFoundSubTitle {
    font-size: 14px;
    line-height: 18px;
  }
}
