.greeBox {
	margin-top: 50px;
}

.greeTxt {
	display: flex;
	width: 115px;
	height: 18px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;

	color: #fafafa;

	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.54px;
}

.greeBoxList {
	width: 1240px;
	height: 60px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background: #8baa36;
}
.secondTxtGree {
	display: flex;
	margin-left: 721px;
	gap: 109px;
}

.salatImg {
	width: 433px;
	height: 332px;
	flex-shrink: 0;

	border-radius: 8px;
}

.preparationBox {
	margin-top: 100px;
	display: flex;
	align-items: center;
	gap: 50px;
}

.preparation {
	padding: 1rem 0;

	.title {
		font-size: 1.5rem;
		font-weight: 600;
		color: #2d2e46;
		margin-bottom: 1rem;
	}

	.list {
		counter-reset: step;
		list-style: none;
		padding-left: 0;

		li {
			position: relative;
			padding-left: 2.5rem;
			margin-bottom: 1rem;
			color: var(--Background-Overlay-on-Media, rgba(0, 0, 0, 0.8));
			font-family: Poppins;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: -0.28px;

			&::before {
				counter-increment: step;
				content: counter(step);
				position: absolute;
				left: 0;
				top: 0.1rem;
				width: 1.5rem;
				height: 1.5rem;
				color: white;
				border-radius: 100px;
				background: #8baa36;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 600;
			}
		}
	}
}

.itemIngr {
	margin-top: 24px;
	display: flex;
	height: 182px;
	padding: 0px 32px;
	align-items: center;
	gap: 40px;
	flex-shrink: 0;

	border-radius: 8px;
	background: #ebf3d4;
}
.listItem {
	margin-top: 50px;
}
.photoItem {
	width: 128px;
	height: 128px;
}
.boxcheck {
	// margin-left: 572px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 151px;
	position: absolute;
	right: 457px;
}
.boxGrama {
	padding-left: 2px;
	padding-right: 2px;
	min-width: 60px;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	// width: 68px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 4px;
	background: #8baa36;

	color: #fafafa;

	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.box {
	display: inline-block;
	width: 37px;
	height: 37px;
	position: relative;
}


.textIngr {
	width: auto;
}