@import "../../../sass/utils/mixins.scss";
.section {
  // margin-bottom: 200px;
  padding-bottom: 200px;
}

.greeBox {
  margin-top: 50px;
}

.greeTxt {
  display: flex;
  width: 115px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  color: var(--text-but);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;

  @media screen and (max-width: 1439px) {
    display: flex;
    width: 115px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    color: var(--text-but);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.54px;
  }
  @media screen and (max-width: 767px) {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    width: 76px;
    height: 18px;
  }
}

.greeBoxList {
  width: 1240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--accent-color);

  @media screen and (max-width: 1439px) {
    width: 704px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    width: 343px;
    height: 42px;
  }
}
.secondTxtGree {
  display: flex;
  margin-left: 721px;
  gap: 109px;
  @media screen and (max-width: 1439px) {
    display: flex;
    margin-left: 300px;
    gap: 38px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    margin-left: 80px;
    gap: 18px;
  }
}

.salatImg {
  width: 433px;
  height: 332px;
  flex-shrink: 0;

  border-radius: 8px;
  @media screen and (max-width: 1439px) {
    width: 433px;
    height: 332px;
  }
  @media screen and (max-width: 767px) {
    width: 343px;
    height: 250px;
  }
}

.preparationBox {
  margin-top: 100px;
  display: flex;

  gap: 50px;

  @media screen and (max-width: 1439px) {
    margin-top: 100px;
    display: block;
    gap: 50px;
    @media screen and (max-width: 767px) {
    }
  }
}

.preparation {
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 32px;

    @media screen and (max-width: 1439px) {
      font-feature-settings: "liga" off, "clig" off;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.24px;
      @media screen and (max-width: 767px) {
        font-feature-settings: "liga" off;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.48px;
      }
    }
  }

  .list {
    counter-reset: step;
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 2.5rem;
      margin-bottom: 1rem;
      color: var(--Background-Overlay-on-Media, var(--text-secondary-color));
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.28px;

      &::before {
        counter-increment: step;
        content: counter(step);
        position: absolute;
        left: 0;
        top: 0.1rem;
        width: 1.5rem;
        height: 1.5rem;
        color: white;
        border-radius: 100px;
        background: #8baa36;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
      }
    }
  }
}
.recipes {
  margin-top: 24px;
}
.itemIngr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-accent-color);
  padding: 16px;
  border-radius: 8px;
  min-height: 80px;
  // gap: 16px;
  margin-bottom: 24px;

  .itemInfo {
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 200px;
    flex: 1;
  }
}

.listItem {
  margin-top: 50px;
}
.photoItem {
  width: 128px;
  height: 128px;
  object-fit: contain;

  @media screen and (max-width: 1439px) {
    width: 112px;
    height: 112px;
  }
  @media screen and (max-width: 767px) {
    width: 57px;
    height: 57px;
  }
}
.boxcheck {
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 151px;
  @media screen and (max-width: 1439px) {
    margin-right: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
  }
  @media screen and (max-width: 767px) {
    // margin-right: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
}
.boxGrama {
  padding-left: 2px;
  padding-right: 2px;
  min-width: 60px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 68px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--accent-color);

  color: var(--text-but);

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (max-width: 1439px) {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--accent-color);

    color: var(--text-but);

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  @media screen and (max-width: 767px) {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--accent-color);

    color: var(--text-but);

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 62px;
    height: 23px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.box {
  display: inline-block;
  width: 37px;
  height: 37px;
  position: relative;

  @media screen and (max-width: 1439px) {
  }
  @media screen and (max-width: 767px) {
    width: 18px;
    height: 18px;
  }
}

.textIngr {
  width: 130px;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.24px;
  @media screen and (max-width: 1439px) {
    width: 130px;
    color: var(--text-color);
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.24px;
  }
  @media screen and (max-width: 767px) {
    width: 110px;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.24px;
  }
}
.txtGrama {
  color: var(--text-but);

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (max-width: 1439px) {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  @media screen and (max-width: 767px) {
    text-align: right;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
