@import "../../sass/utils/placeholders.scss";

.header {
  z-index: 9;
  // border: 1px solid green;
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translate(-50%);

  & > div {
    display: flex;
    align-items: center;
  }
}

.headerLogo {
  @media screen and (min-width: 1440px) {
    margin-right: 187px;
  }
}

.headerLogoImg {
  width: 44px;
  height: 44px;
}

.headerNav {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
  }
}

.headerNavList {
  // align-items: center;
  display: flex;
  gap: 30px;
}

.headerNavItemPage {
  color: var(--text-color);
  // align-items: center;
  font-size: var(--text-md-fs);
  font-weight: 500;
  line-height: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // transition: color 0.3s ease-in-out;
  @extend %transitionColor;

  &:hover {
    color: var(--accent-color);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.headerSearchImg {
  font-size: 22px;
  color: var(--text-color);
  @extend %transitionColor;

  // background-color: black;
}

.headerSearchImg:hover {
  color: var(--accent-color);
}

.userBoxRegist {
  margin-left: 126px;
  margin-right: 24px;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 457px;
    margin-right: 54px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 227px;
    margin-right: 0;
  }
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.test {
  position: relative;
  height: 44px;
  width: 44px;
}

.userImg {
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  color: var(--title-color);
  font-size: var(--text-md-fs);
  font-weight: 600;
  line-height: 170%;
}

.boxTemeColor {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
    // margin-left: 50px;
    margin-left: auto;
    width: 61px;
    height: 27px;
    border-radius: 50px;
    /* Switch - in shadow */
    box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
    background: rgb(239, 239, 239);

    :root[data-theme="dark"] & {
      background-color: rgb(139, 170, 54);
    }
  }
}

.boxBtnSun {
  animation: 3s ease-in 1s infinite reverse both running slidein;
  animation-delay: 1s;
  margin-left: 3px;
  margin-top: 3px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(232, 234, 234) 100%);

  :root[data-theme="dark"] & {
    animation: 30s linear 10s infinite running slidein;
    animation-delay: 1s;
    margin-right: 3px;
    margin-left: auto;
  }
}

.burgerBox {
  margin-left: auto;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.burgerBtn {
  font-size: 30px;

  color: var(--text-color);
}

.boxUser {
  border: 1px solid rgb(139, 170, 54);
  position: absolute;
  z-index: 9;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 177px;
  border-radius: 8px;
  background: var(--bg-color);
  right: 10%;
  left: auto;
  top: 55px;
  // transform: translate(-85%);
}

.boxUserName {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
}

.textName {
  color: var(--title-color);
  font-size: var(--text-md-fs);
  font-weight: 500;
  line-height: 22.4px;
}

.buttonRename {
  font-size: 14px;
  margin-left: auto;
}

.btnLogOutR {
  margin-top: 32px;
  margin-left: 18px;
  margin-right: 18px;
  width: 141px;
  height: 43px;
  color: rgb(250, 250, 250);
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: 21px;

  background: rgb(139, 170, 54);
  border-radius: 24px 44px;
}

.relativeIcon {
  position: relative;
}

.iconLogOut {
  position: absolute;
  top: 43px;
  z-index: 9;
  left: auto;
  right: 38px;
  color: rgb(250, 250, 250);
  font-size: 20px;
  margin-left: 4px;
}

.logOutBox {
  padding-top: 16px;
  padding-bottom: 44px;

  width: 330px;

  position: absolute;
  z-index: 10;
  right: 10%;
  left: auto;
  top: 55px;
  border-radius: 30px;
  background: var(--bg-color);
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 50px;

    width: 480px;
  }
  @media screen and (min-width: 1440px) {

    width: 500px;
  }
}

.iconCross {
  font-size: 20px;
  margin-left: 292px;
  @media screen and (min-width: 768px) {
    margin-left: 432px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 452px;
  }
}

.listButton {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  @media screen and (min-width: 768px) {
    gap: 16px;
    margin-top: 32px;
  margin-left: 40px;
  margin-right: 40px;
  }
  @media screen and (min-width: 1440px) {
    
  margin-left: 50px;
  margin-right: 50px;
  }

}

.textLogOut {
  margin-top: 2px;
  margin-left: 47px;
  margin-right: 47px;
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: 24px;
  @media screen and (min-width: 768px) {
    font-size: var(--text-xl-fs);
    margin-left: 90px;
    margin-right: 90px;
  }
  @media screen and (min-width: 1440px) {

    margin-left: 100px;
    margin-right: 100px;
  }
}

.btnLogOut {
  width: 137px;
  height: 49px;
  font-size: var(--text-md-fs);
  color: rgb(250, 250, 250);
  font-weight: 400;
  line-height: 18px;
  // padding: 11px 19px;
  border-radius: 6px;
  background: rgb(139, 170, 54);

  @media screen and (min-width: 768px) {
    width: 192px;
    height: 59px;
    font-size: var(--text-lg-fs);
  }

}

.btnCancel {
  width: 137px;
  height: 49px;
  font-size: var(--text-md-fs);
  font-weight: 400;
  line-height: 18px;
  // padding: 11px 19px;
  border-radius: 6px;
  background: rgb(217, 217, 217);

  @media screen and (min-width: 768px) {
    width: 192px;
    height: 59px;
    font-size: var(--text-lg-fs);
  }

}
